<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>piloteJDBC</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>urlDb</param-name>
        <param-value>jdbc:mysql://localhost/defilecture?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>adminName</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>adminPassword</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>userDB</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>passwordDB</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <description>Nombre maximum de participants par équipe</description>
        <param-name>nbParticipantMax</param-name>
        <param-value>4</param-value>
    </context-param>
    
    <listener>
        <listener-class>com.defiLecture.EcouteurApplication</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>CF</servlet-name>
        <servlet-class>com.defiLecture.controleur.ControleurFrontal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CF</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
