@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');


h1, h2, h3, h4, h5, p, a, button, input, textarea, label, li, th, td {
  font-family: 'Goudy Bookletter 1911', serif;
}

h1, h2, h3, h4, h5, p, button, input, textarea, label, li, th, td {
  color: black;
}

td, td a, p, li {
  font-size: 18px!important;
  color: black;
}

body {
  background-color: cssCouleurBack;
}

h1 {
  font-size: 45px!important;
  text-align: center!important;
}



.retour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.retour.modifCompte {
  display: block!important;
}

.retour:hover {
  color: white;
  text-decoration: none;
}

.retour span {
  padding-right: 10px;
}

/*Header*/

span.glyphicon.glyphicon-log-in {
  margin-right: 10px!important;
}

.logo-navigation {
  width: 168px;
  height: 73px;
  background-image: url(cssImageLogo);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px;
}

.navbar {
  background-color: cssCouleurNavBack !important;
  
}

.navbar li {
  padding: 2%  0;
  height: 100%;
}

.navbar li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: cssCouleurNavText !important;
  font-size: 20px;
  text-decoration: none;
}

.navbar li:hover {
  background: rgba(255,255,255,0.2);
}

ul.nav.navbar-nav{
  height: 93px;
  display :flex;
}

a.dropdown-toggle{
  background-color: cssCouleurNavBack !important;
}
div#optionsNavigation {
  max-height: 100%!important;
}

#optionsNavigation ul.dropdown-menu {
  background-color: cssCouleurNavBack !important;
}


.dropdown{
  background-color: inherit; 
}

.navbar-nav .open .dropdown-menu li a:hover {
  background : none!important;
}

#facebook {
  background-image: url("../images/facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
}

#li-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instagram {
  background-image: url("../images/instagram_inv.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
}

#li-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1400px) {

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  #li-facebook {
    justify-content: flex-start;
    margin-left: 12px!important;
  }
  #li-instagram {
    justify-content: flex-start;
    margin-left: 12px!important;
  }



  ul.nav.navbar-nav {
    height: auto;
    flex-direction: column;
    display: block;
  }

  .navbar-right li {
    width: 100%!important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;


  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}



/*Page connexion*/

.connexion-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 700px;
  padding-top: 35px;
}

.connexion-form .form-group, .connexion-form .input-group {
  width : 100%;
}

.connexion-row {
  background-image: url(cssImageBackConnection);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.connexion-row h1, .inscription-row h1 {
  border-bottom: 8px double;
}



.connexion-form label {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 9px 35px;
  font-size: 18px;
  width: 251px!important;
}
.connexion-col h1 {
  font-size: 45px!important;
  text-align: center;
}
.connexion-col {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 4%;
  border-radius: 20px;
}
.connexion-form button {
  font-size: 20px;
}

.connexion-form input {
  border-radius: 10px!important;
  height: 45px;
}

.connexion-form a{
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;

}

p#msgMDPoublie {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px 9px;
  display: none;
  justify-content: center;
  align-items: center;
}

#lienMDPoublie {
  font-weight: 600;
}

p#msgMDPoublie {
  font-size: 16px;
}

/*Inscription*/

.inscription-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 1080px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.inscription-form .form-group, .inscription-form .input-group {
  width : 100%;
}

.inscription-form label {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 9px 35px;
  font-size: 18px;
  width: auto;
}
.inscription-col h1 {
  font-size: 45px!important;
  text-align: center;
}

.inscription-col{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 4%;
  border-radius: 20px;
}

.btn-inscription {
  font-size: 20px;
}

.inscription-form input {
  border-radius: 10px!important;
  height: 45px;
}

.inscription-row {
  background-image: url(cssImageBackConnection);
  min-height: 1080px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inscription-col h1 {
  font-size: 45px!important;
  text-align: center;
}

#chkDevenirCapitaine {
  height: 10px;
  zoom: 175%;
  position: relative;
  top: 3px;
}

/*Tableau des scores*/

.scores-row {
  background-image: url(cssImageBackPrincipal);

  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

}

.scores-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;
}

.scores-col h1 {
  text-align: center;
}


/*Accueil*/

.accueil-row {
  background-image: url(cssImageBackPrincipal);

  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
}

.accueil-col {
  background-image: url(cssImageAccueilCol);
  min-height:130px;
  width: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  margin-bottom: 20px;
}

/*Creation défi*/

.creation-defi-col {
  background-image: url(cssImageBackConnection);
}

.creation-defi-col h1 {
  text-align: center;
}

.creation-defi-col label {
  /*  background-color: rgba(255, 255, 255, 0.5);
     border-radius: 10px;*/
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: auto;
}

.creation-defi-col div#bonneReponse .radio label {
  padding-left: 30px!important;
}

.creation-defi-col #btnMOINS {
  font-family: arial!important;
}

.creation-defi-col #btnMOINS, .creation-defi-col #btnPLUS {
  background:none!important;
  width: 35px;
}
/*
   .creation-defi-col label#ajouterChoix {
   padding: 6px 25px 6px 15px;
   }*/

.creation-defi-col .ajouterChoix, .creation-defi-col .bonneReponse {
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
}

.creation-defi-col .bonneReponse {
  margin-top: 5px;
  margin-bottom: 5px;
}

.creation-defi-col button {
  font-size: 20px!important;
}

.creation-defi-col{
  padding-bottom: 20px;

}

.creation-defi-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 2%;
  margin-top: 5%;
  border-radius: 20px;
}

/*Accéder aux demandes*/

.demandes-row {
  background-image: url(cssImageBackPrincipal);
  padding: 5%;

}

.demandes-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;
}

.demandes-col h2 {
  text-align: center;
}

/*Participation défi*/

.participationDefi-row {
  background-image: url(cssImageBackPrincipal);
  padding: 5%;

}

.participationDefi-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;
}

.participationDefi-col h2 {
  text-align: center;
}


@media (max-width: 530px) {
  .participationDefi-row .cacherSurMobile tr td:nth-child(3), .participationDefi-row .cacherSurMobile tr td:nth-child(4), .participationDefi-row .cacherSurMobile tr th:nth-child(3), .participationDefi-row .cacherSurMobile tr th:nth-child(4) {
    display: none;
  }
}

/*Gestion liste comptes*/

.listeCompte-row {
  background-image: url(cssImageBackPrincipal);
  padding: 5%;

}

.listeCompte-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%!important;
}

.listeCompte-col h2 {
  text-align: center;
}


@media (max-width: 668px) {
  .listeCompte-col .cacherSurMobile tr td:nth-child(1), .listeCompte-col .cacherSurMobile tr td:nth-child(2), .listeCompte-col .cacherSurMobile tr td:nth-child(3), .listeCompte-col .cacherSurMobile tr td:nth-child(5), .listeCompte-col .cacherSurMobile tr th:nth-child(1), .listeCompte-col .cacherSurMobile tr th:nth-child(2), .listeCompte-col .cacherSurMobile tr th:nth-child(3), .listeCompte-col .cacherSurMobile tr th:nth-child(5) {
    display: none;
  }

  .listeCompte-col {
    padding: 0!important;
  }

}

/*Modification comptes*/

.modification-compte-col {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 4%;
  border-radius: 20px;

}

.modification-compte-col h1 {
  text-align: center;
}

.modification-compte label {
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: auto;
}



.modification-compte-col button {
  font-size: 18px!important;
}


.modification-compte-form {
  
}

.modification-compte-col .btn-danger {
  margin-left: 15px;
}

.modification-compte-col .avatar {
  margin-left: auto;
  margin-right: auto;
}

/*Modification défi*/


.modification-defi-col {
  background-image: url(cssImageBackPrincipal);
}

.modification-defi-col h1 {
  text-align: center;
}

.modification-defi-col label {
  /*  background-color: rgba(255, 255, 255, 0.5);
     border-radius: 10px;*/
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: auto;
}

.modification-defi-col div#bonneReponse .radio label {
  padding-left: 30px!important;
}

.modification-defi-col #btnMOINS {
  font-family: arial!important;
}

.modification-defi-col #btnMOINS, .modification-defi-col #btnPLUS {
  background:none!important;
  width: 35px;
}


.modification-defi-col .ajouterChoix, .modification-defi-col .bonneReponse {
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
}

.modification-defi-col .bonneReponse {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modification-defi-col button {
  font-size: 20px!important;
}

.modification-defi-col{
  padding-bottom: 20px;

}

.modification-defi-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 2%;
  margin-top: 5%;
  border-radius: 20px;
}

/*Creation lecture*/

.remiseAzero {
  cursor: pointer;
}

.creation-lecture-row {
  background-image: url(cssImageBackPrincipal);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

}

.creation-lecture-col {

  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;

}

.creation-lecture-col h1 {
  text-align: center;
}

.creation-lecture-col label {
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}


.creation-lecture-col button {
  font-size: 20px!important;
  margin: 2% auto;
  display: flex;

}
.dureeLecture .duree15 {
  background-image: url(cssImageDuree15);
}

.dureeLecture .duree30 {
  background-image: url(cssImageDuree30);
}

.dureeLecture .duree45 {
  background-image: url(cssImageDuree45);
}

.dureeLecture .duree60 {
  background-image: url(cssImageDuree60);
}

.dureeLecture .duree15, .dureeLecture .duree30, .dureeLecture .duree45, .dureeLecture .duree60{
  background-size: cover;
  width: 110px;
  height: 110px;
  cursor: pointer;
  
}

.lecture-submit {
  background-image: url(cssImageConfirmer);
  background-size: cover;
  width: 161px!important;
  height: 167px!important;
  cursor: pointer;
}

.dureeLecture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

#lblDureeLecture{
  text-align: center;
}



.dureeMinutes {
  font-size: 33px!important;
  padding-top: 0!important;
}

.lecture-submit input {
  display: none;
}

.creation-lecture-form .form-group {
  width: 280px;
}

.creation-lecture-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creation-lecture-col .lectureObligatoire {
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
  margin-top: 20px;
}

.lectureObligatoire .form-group .radio {
  background-color: rgba(255,255,255,0.5);
}

.lectureObligatoire .form-group input {
  display: none;
}

.obligatoire-oui:hover, .obligatoire-non:hover {
  border: 1px solid white;
}


/*Inscription défi*/



.inscription-defi-col {
  background-image: url(cssImageBackConnection);
  padding-bottom: 20px;
}

.inscription-defi-col h1 {
  text-align: center;
}

.inscription-defi-col label {
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: auto;
}


.inscription-defi-col button {
  font-size: 20px!important;
  margin: 2% auto;
  display: flex;

}


.inscription-defi-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1% 2%;
  margin-top: 5%;
  border-radius: 20px;
}

.inscription-defi-col .choixReponse {
  border: 2px solid white;
  border-radius: 20px;
  padding: 1%;
}

.inscription-defi-col div.choixReponse .radio label {
  padding-left: 30px!important;
}

.inscription-defi-col textarea {
  max-width: 100%!important;
}
/*Page gestion lecture*/

.gestion-lecture-row {
  background-image: url(cssImageBackPrincipal);

  padding: 5%;

}

.gestion-lecture-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;
}

.gestion-lecture-col h2 {
  text-align: center;
}

/*Page gestion liste équipe*/

.liste-equipes-row {
  background-image: url(cssImageBackPrincipal);
  padding: 5%;

}

.liste-equipes-col {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  min-height: 700px;
  padding: 5%;
}

.liste-equipes-col h2 {
  text-align: center;
}

@media (max-width: 530px) {
  .gestion-lecture-col .cacherSurMobile tr td:nth-child(4), .gestion-lecture-col .cacherSurMobile tr th:nth-child(4), .gestion-lecture-col .cacherSurMobile tr td:nth-child(3), .gestion-lecture-col .cacherSurMobile tr th:nth-child(3), .gestion-lecture-col .cacherSurMobile tr td:nth-child(6), .gestion-lecture-col .cacherSurMobile tr th:nth-child(6){
    display: none;
  }
}


/*Page Équipe*/


.page-equipe-col {
  background-image: url(cssImageBackConnection);
  padding-bottom: 20px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.page-equipe-col h1 {
  text-align: center;
}

.page-equipe-col h2 {
  padding-left: 5px;
  color: black;
  font-weight: 600;
}


.page-equipe-col label {
  padding: 9px 25px 9px 4px;
  font-size: 18px;
  width: auto;
}


.page-equipe-col button {
  font-size: 20px!important;
  margin: 1% auto;

}

.page-equipe-col .jumbotron {
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.page-equipe-col .jumbotron p {
  text-align: center;
}

.page-equipe-col table th {
  background-color: darkred!important;
  color: white;
  border-right: 1px solid;
}

.page-equipe-col table {
  background-color: rgba(255,255,255,0.5);

}

.page-equipe-col .progress {
  margin: 0!important;
}


.page-equipe-col #parametreEquipe{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 9px 25px;
  color: black;
  text-align: center;
  font-size: 20px;
}

.page-equipe-col #parametreEquipe:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: none!important;
}

/*Configuration équipe*/

.page-equipe-col.configuration-equipe label {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 9px 25px;
}

@media (max-width: 530px) {
  .configuration-equipe .cacherSurMobile tr td:nth-child(3), .configuration-equipe .cacherSurMobile tr th:nth-child(3){
    display: none;
  }
}





/*Page code de conduite*/

.pirateIcone {

  background-image: url(cssImageIcone);
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 78px!important;
  margin-right: 15px;

}

.code-conduite div {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-right: 20px;
  text-align: justify;
  font-size: 20px!important;
}

.code-conduite label {
  padding: 9px 55px 9px 4px!important;
}

.code-conduite ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.code-conduite ul {
  padding: 0;
}


/*Glossaire*/

.glossaire p {
  text-align: justify;
  font-size: 20px!important;
  margin: 40px 10px;
}

/*Contributeurs*/

.contributeurs p {
  font-size: 20px!important;
  margin: 10px;
}

.contributeurs h2 {
  margin: 10px;
  border-bottom: 1px solid;
}

/*Marche a suivre*/

.marcheASuivre h1 {
  text-align: center;
}

.petiteIconeMarcheASuivre {

  background-image: url(cssImageIcone);
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px!important;

}

.divPetiteIcone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.fa.fa-facebook {
  background-color: #4267b2;
  color: white;
  width: 17px;
  padding-left: 5px;
  border-radius: 4px;
  padding-top: 2px;
}

/*Page de configuration*/
#configSite input{
  font-size: 18px;
}
#configSite #panelConfig, #panelReset{
  margin: 5% 5% 0 15%;
  min-width: 486px;
}
#configSite #reset{
  margin-left: 42%;
}
#configSite #resetConfirm{
  margin-left: 37%;
  text-align: center;
}
#configSite #enregistrerConfig{
  margin: 2% 0 0 42%;
}
#configSite .dateConfig{
  margin-bottom: 2%;
} 



/*Background*/

.creation-lecture-row, .scores-row, .accueil-row, .connexion-row, .inscription-row, .creation-defi-col, .modification-defi-col, .inscription-defi-col, .page-equipe-col, .demandes-row, .participationDefi-row, .listeCompte-row,  .gestion-lecture-row,  .liste-equipes-row {
  min-height: 968px; 
}

.creation-lecture-row, .scores-row, .accueil-row,  .demandes-row, .participationDefi-row, .listeCompte-row,  .gestion-lecture-row,  .liste-equipes-row {
  background-position: center;
}

.connexion-row, .inscription-row, .creation-defi-col, .modification-defi-col, .inscription-defi-col, .page-equipe-col {
  background-position: bottom;
}

@media (max-width: 668px) {
  .creation-lecture-row, .scores-row, .accueil-row, .connexion-row, .inscription-row, .creation-defi-col, .modification-defi-col, .inscription-defi-col, .page-equipe-col, .demandes-row, .participationDefi-row, .listeCompte-row,  .gestion-lecture-row,  .liste-equipes-row {
    background-size: contain;
    background-position: top;
  }
}

/* Page profil */

.bold {
  font-weight: bold;
}

.imgProfil {
  padding: 3px;
  height: 8em;
  width: 8em;
  background-color:white;
  border-width:3px;
  border-style:solid;
  border-color:#212529;
  float: left;
}

.imgProfil.Petite {
  height: 2em;
  width: 2em;
}

.contenuEnteteProfil{
  padding: 2em;
}

.contenuEnteteProfil h1{
  position: relative;
  float:left;
  margin: 0.7em 0em 0em 1em;
}

@media screen and (max-width: 557px) {
  .contenuEnteteProfil h1{
    position: static;
    text-align: center;
    margin: 0;
  }
  .imgProfil{
    margin-right: 4em;
  }
}

.panInfo{
  margin-top: 0.8em;
}

.panInfo p{
  margin-left: 1em;
}

.glyphProfil{
  margin-top:5px;
  position: relative;
  float:right;
  transition:0.5s;
}

.glyphProfil:hover {
  transform: scale(1.3);
}

.btnModif {
  width: 5.6em;
  transition: 0.5s;
}

.btnModif:hover {
  transform: scale(1.1);
}

.pErreur {
  text-align: center;
  font-weight: bold;

}
